html {
    --note-box-size: 60px;
    --note-box-padding: 15px;
    --note-box-size-total: calc(var(--note-box-size) + (2 * var(--note-box-padding)));
}

h1 {
    padding: 20px;
    font-size: 35px;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

#song_progress {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* class of list that contains notes in song */
.note_container {
    /* Automatically adjust note container's height to be sum of
     - Top + bottom padding (2 * padding)
     - Note box size */
    height: var(--note-box-size-total);

    background-color: #abc;

    overflow-y:hidden;
}

/* the li that store the note in songs */
.note_container > li {
    /* Prevent selection of note text */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    list-style-type: none;
    align-items: flex-start;

    display: inline-block;
    width: var(--note-box-size);
    height: var(--note-box-size);
    padding: var(--note-box-padding);
    margin: 0;

    font-size: 2.75em;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* hover over li that store the note in songs (prevents selection cursor)*/
.note_container > li:hover {
    cursor: pointer;
}