html {
    --note-box-size: 100px;
}

h1 {
    padding: 20px;
    font-size: 35px;
}

.new_song_input {
    box-sizing: border-box;
    width: 96%;
    margin:2%;
    border-radius: 10px;
    background-color: #3D3D90;
}
input[type="text"] {
    box-sizing: border-box;
    width: 98%;
    margin: 6px 1% 6px 1%;
    padding: 10px;
    border-radius: 5px;
}
textarea {
    box-sizing: border-box;
    width: 98%;
    margin: 6px 1% 6px 1%;
    padding: 10px;
    border-radius: 5px;
}

/* Song progress bar */
.song_progress {
    width: 100%;
    height: 20px;
    background-color: rgb(230, 228, 221)
}
.song_progress_value {
    width: 0%;
    height: inherit;
    background-color: rgb(63, 173, 63)
}

/* class of list that contains notes in song */
.note_container {
    height: var(--note-box-size);

    box-sizing: border-box;
    background-color: #4D4CB4;

    overflow-y:hidden;
}

/* the li that store the note in songs */
.note_container > li {
    /* Prevent selection of note text */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    list-style-type: none;
    align-items: flex-start;

    box-sizing: border-box;

    text-align: center;
    vertical-align: middle;
    line-height: 60px;

    display: inline-block;
    width: var(--note-box-size);
    height: var(--note-box-size);
    padding: 18px;

    font-size: 2.5em;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* hover over li that store the note in songs (prevents selection cursor)*/
.note_container > li:hover {
    cursor: pointer;
}