<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/song_display.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='library/jquery-3.6.0.js') }}"></script>
        <script>
            // URL for song selection page
            var songSelectURL = "{{ url_for('song_selection') }}";
            // Config data (populated later)
            var config = undefined;
            // Redirect dropdown menu to settings page
            $(document).ready(function() {
                $('#drop_btn').on('click',function() {
                    location.href = "{{ url_for('settings') }}";
                });
            });
            // Load external scripts into html
            $.getScript("{{ url_for('static', filename='settings.js') }}");
            $.getScript("{{ url_for('static', filename='new_song.js') }}");
        </script>
        <title>KEY - Record New Song</title>
    </head>
    <body>
        <nav>
            <!--Use Flask/Jinja make the url references-->
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('song_selection') }}">Songlist</a>
            <a href="{{ url_for('new_song') }}" id="current_page">New Song</a>
            <div class="dropdown">
                <button id="drop_btn">Settings</button>
                <ul class="dropdown_content">
                    <li>Use Flats (&#9837;) or Sharps (&#9839;)?
                        <select id="use_sharps">
                            <option value="false">&#9837;</option>
                            <option value="true">&#9839;</option>
                        </select>
                    </li>
                    <li>Wait for Note Press
                        <input id="wait_for_note" type="checkbox"></li>
                    <li>Note Update Precision
                        <input id="update_precision" type="number"></li>
                    <li>Time Between Notes (Seconds)
                        <input id="note_interval" type="number"></li>
                    <li>Spacing Notes (Song Display)
                        <input id="display_spacing_notes" type="number"></li>
                    <li>Spacing Notes (New Song)
                        <input id="nsong_spacing_notes" type="number"></li>
                </ul>
            </div>
        </nav>
        <header>
            <h1>KEY</h1>
            <h2>Your personal music tutor.</h2>
        </header>

        <h1>Create New Song</h1>

        <form action="{{ url_for('new_song') }}">
            <p><input type="text" id="title_input" placeholder="Song title" /></p>
            <p><input type="text" id="desc_input" placeholder="Song description" /></p>
        </form>
        <ul class="note_container"></ul>
        <button id="play_btn">Play</button>
        <button id="record_btn">Record</button>
        <button id="delete_btn">Delete Selected Note</button>
        <button id="clear_btn">Clear All Notes</button>
        <button id="save_btn">Save Song</button>
    </body>
</html>