<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='artwork/key_logo.png') }}" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/settings.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='library/jquery-3.6.0.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='settings.js') }}"></script>
        <script>
            // Config data (populated later)
            var config = undefined;
            // Load external script into html
            $.getScript("{{ url_for('static', filename='settings.js') }}");
        </script>
     <title>KEY Homepage</title>
    </head>
    <body>
        <nav>
            <!--Use Flask/Jinja make the url references-->
            <img class="logo_img" src="{{ url_for('static', filename='artwork/key_logo.png') }}" alt="logo-text">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('song_selection') }}">Songlist</a>
            <a href="{{ url_for('new_song') }}">New Song</a>
            <a href="{{ url_for('settings') }}" id="current_page" style="float: right;">Settings</a>
        </nav>
        <header>
            <h1>KEY</h1>
            <h2>Your personal music tutor.</h2>
            <!--interactable piano header?-->
        </header>

        <h1>Settings</h1>

        <ul class="settings_container">
            <li>Use Flats (&#9837;) or Sharps (&#9839;)?
                <div class="settings_input">
                    <select id="use_sharps">
                        <option value="false">&#9837;</option>
                        <option value="true">&#9839;</option>
                    </select>
                </div>
            </li>
            <li>Sort Songs Alphabetically
                <div class="settings_input">
                    <input id="sort_songs" type="checkbox">
                </div>
            </li>
            <li>Wait for Note Press
                <div class="settings_input">
                    <input id="wait_for_note" type="checkbox">
                </div>
            </li>
            <li>Note Update Precision
                <div class="settings_input">
                    <input id="update_precision" type="number">
                </div>
            </li>
            <li>Time Between Notes (Seconds)
                <div class="settings_input">
                    <input id="note_interval" type="number">
                </div>
            </li>
            <li>Spacing Notes (Song Display)
                <div class="settings_input">
                    <input id="display_spacing_notes" type="number">
                </div>
            </li>
            <li>Spacing Notes (New Song)
                <div class="settings_input">
                    <input id="nsong_spacing_notes" type="number">
                </div>
            </li>
        </ul>
    </body>
</html>