<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='library/jquery-3.6.0.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='settings.js') }}"></script>
        <script>
            // Config data (populated later)
            var config = undefined;
            // Load external script into html
            $.getScript("{{ url_for('static', filename='settings.js') }}");
        </script>
     <title>KEY Homepage</title>
    </head>
    <body>
        <nav>
            <!--Use Flask/Jinja make the url references-->
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('song_selection') }}">Songlist</a>
            <a href="{{ url_for('new_song') }}">New Song</a>
            <a href="{{ url_for('settings') }}" id="current_page">Settings</a>
        </nav>
        <header>
            <h1>KEY</h1>
            <h2>Your personal music tutor.</h2>
            <!--interactable piano header?-->
        </header>
        <ul class="settings_container">
            <li>Use Flats (&#9837;) or Sharps (&#9839;)?
                <select id="use_sharps">
                    <option value="false">&#9837;</option>
                    <option value="true">&#9839;</option>
                </select>
            </li>
            <li>Wait for Note Press
                <input id="wait_for_note" type="checkbox"></li>
            <li>Note Update Precision
                <input id="update_precision" type="number"></li>
            <li>Time Between Notes (Seconds)
                <input id="note_interval" type="number"></li>
            <li>Spacing Notes (Song Display)
                <input id="display_spacing_notes" type="number"></li>
            <li>Spacing Notes (New Song)
                <input id="nsong_spacing_notes" type="number"></li>
        </ul>
    </body>
</html>