<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/song_display.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='library/jquery-3.6.0.js') }}"></script>
        <script>
            // Get song ID from Jinja
            var songID = "{{ songID }}";
            // Get JSON data with song info
            var songDataURL = "../static/data/songs.json";
            // URL for song selection page
            var songSelectURL = "{{ url_for('song_select') }}";
            // Load external script into html
            $.getScript("{{ url_for('static', filename='song_display.js') }}");
        </script>
        <title>KEY - Play Song 1</title>
    </head>
    <body>
        <nav>
            <!--Use Flask/Jinja make the url references-->
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('song_select') }}">Songlist</a>
            <a href="{{ url_for('new_song') }}">New Song</a>
        </nav>
        <header>
            <h1>KEY</h1>
            <h2>Your personal music tutor.</h2>
        </header>

        <h1 id="song-title"></h1>
        <h2 id="song-desc"></h2>

        <ul class="note-container"></ul>
        
        <button id='start-btn'>Play</button>
        <button id='reset-btn'>Reset</button>
    </body>
</html>