<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/song_display.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='library/jquery-3.6.0.js') }}"></script>
        <script>
            // Get song index from Jinja
            var songIndex = "{{ songIndex }}";
            // URL for song selection page
            var songSelectURL = "{{ url_for('song_selection') }}";
            // Load external script into html
            $.getScript("{{ url_for('static', filename='song_display.js') }}");
        </script>
        <title>KEY - Play Song 1</title>
    </head>
    <body>
        <nav>
            <!--Use Flask/Jinja make the url references-->
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('song_selection') }}">Songlist</a>
            <a href="{{ url_for('new_song') }}">New Song</a>
            <a id="current_page" class="song_title"></a>
        </nav>
        <header>
            <h1>KEY</h1>
            <h2>Your personal music tutor.</h2>
        </header>

        <h1 class="song_title"></h1>
        <h2 class="song_desc"></h2>

        <ul class="note_container"></ul>
        
        <button id='play_btn'>Play</button>
        <button id='reset_btn'>Reset</button>
    </body>
</html>