<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='library/jquery-3.6.0.js') }}"></script>
        <!--JAVASCRIPT/JQUERY/AJAX-->
        <script>
            // URL for song display page
            var songDisplayURL = "{{ url_for('song_display') }}";
            // Load external script into html
            $.getScript("{{ url_for('static', filename='song_selection.js') }}");
        </script>
        <!--END JAVASCRIPT/JQUERY/AJAX-->
        <title>KEY - Song Selection</title>
    </head>
    <body>
        <nav>
            <!--Use Flask/Jinja make the url references-->
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('song_selection') }}" id="current_page">Songlist</a>
            <a href="{{ url_for('new_song') }}">New Song</a>
        </nav>
        <header>
            <h1>KEY</h1>
            <h2>Your personal music tutor.</h2>
        </header>
        <ul class="songlist">
        </ul>
    </body>
</html>